<section>
  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-x"><i class="fa fa-html5" aria-hidden="true">HTML5 font</i></div>
    <div class="icon-y"></div>
    <div class="icon-z"></div>
    <div class="icon-p"></div>
  </div>

  <p><strong>Nulla mauris nunc sodales nam commodo purus, rutrum sit,</strong> in lorem mattis dolor in, sed ut elit est nec lorem. Quis facilisis pharetra in donec, porttitor ipsum turpis non
    imperdiet porta, pharetra suspendisse ante nonummy ante facilisis, nulla id. Varius maecenas iaculis quam sed. Augue duis mauris montes metus, placerat gravida netus quidem
    est nullam, justo cras libero duis, cursus vestibulum non, fusce amet suspendisse tincidunt incididunt. Nec nec, fringilla mauris mauris, nunc adipiscing etiam libero, mauris
    ultricies, tortor turpis duis dolor.</p>

    <div class="skill-lockup"></div>
</section>
