<!--Start of {% include footer.html %} -->
  <footer>
    <div class="lockup">
      <div class="logo">
        <svg width="50" height="50">
          <g>
            <circle cx="25" cy="25" r="25"></circle>
            <text x="7" y="24" fill="Beige" transform="scale(1.3)">SDS</text>
          </g>
        </svg>
      </div>
      <div class="content-wrap">
        <nav>
          <a href="">About Me</a>
          <a href="">Work</a>
          <a href="">Clients</a>
          <a href="">Contact</a>
        </nav>

        <p class="copyright">All content copyright 2017</p>
      </div>
    </div>
  </footer>

<!--End of {% include footer.html %} -->
