.fa-envelope, .fa-github, .fa-linkedin-square, .fa-google, .fa-facebook {
  color: #fff; }

.section-contact {
  text-align: center;
  padding-bottom: 80px; }

.social-links {
  max-width: 700px;
  margin: 0px auto 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .social-links a {
    display: block;
    background: #c99065;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    border-radius: 50%;
    font-size: 28px;
    margin: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .social-links a:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.bar {
  width: 250px;
  height: 0px;
  border-top: 4px solid #c99065;
  margin: 0px auto 70px; }

.biglink {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  color: #c99065;
  line-height: 1; }
  .biglink:hover {
    color: #e1c184; }
